
.banner{
	text-align: center;
}

.banner__titulo{
	font-size: 18px;
	font-weight: 700;
	color: var(--branco);
	letter-spacing: 1px;
	margin: 2em auto 1em auto;
}

.banner__texto{
	color: var(--branco);
	letter-spacing: 6px;
	margin: 1em auto 2em auto;
}

.banner__titulo-diurno, .banner__texto-diurno{
	color: var(--preto);
}

.banner__titulo-paginas{
	background: var(--degrade-fundo);
	padding: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.banner__titulo-paginas-diurno{
	background: var(--degrade-fundo-dia);
	color: var(--preto);
}
